/* Start page */ 

.backgroundimg {
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.logo{
	width: 72%;
	height: 61%;
	padding-left: 31%;
	padding-bottom: 9%;
}

.sbotones {
	margin-top: 75%;
	margin-left: 15%;
} 

.btnizq {
	border-color: #fff;
}
/*Sign up page */ 

.titlesignup {
	padding-top: 5%;
}

.iconleft{
	padding-top: 5%;
	padding-left: 3%;
}