/* Start page styles */ 

.backgroundimg {
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	width: 72%;
	height: 61%;
	padding-left: 31%;
	padding-bottom: 9%;
}

.sbotones {
	margin-top: 75%;
	margin-left: 15%;
} 

.btnizq {
	border-color: #fff;
}
/*Sign up page styles */ 

.titlesignup {
	padding-top: 5%;
	padding-left: 5%;
}

.iconleft {
	margin-top: 19%;
	margin-left: 7%;
}

.secpais {
	margin-top: 4%;
	padding-left: 2%;
	padding-top: 1%;
	color: #ec407a;
}
.bandera{
	width: 7%;
	height: 5%;
}
.banpais {
	display: inline-block;
}
.numtelefono { 
	margin-top: 5%;
	margin-left: 1%;
	border-color: gray;
}
.sectnext{
	margin-top: 49%;
}